body {
  font-family: "Poppins", "Lucida Sans", sans-serif, Arial, "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande";
  font-weight: 14px;
}

#form-search {
  display: block;
  width: 30rem;
  height: 40px;
  border: 1px solid #d5d5d5;
  padding: 4px 11px 6px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 6px 10px 0;
}
#input-search {
  border: none;
  box-shadow: none;
  padding: 0;
  height: 22px;
  margin-left: 3px;
  margin-top: 5px;
}

#btn-search {
  border: none;
  background-color: white;
  margin-top: 5px;
  /* color: white; */
}

#account_form {
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
