{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">

{{#section 'js'}}
{{!-- File Upload> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>

<script>
    $('#txtAvatar').fileinput({
        theme: 'fa',
        allowedFileExtensions: ['jpg', 'png'],
        dropZoneEnabled: false,
    });
</script>
{{!-- < File Upload --}} <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
    </script>
    <script>
        $('#frmRegister').on('submit', function (e) {
            e.preventDefault();
            const link = $('#txtLink').val();
            const categoryId = $('#txtCategoryId').val();
            const name = $('#txtSongName').val();

            if (name.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Password',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (link.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Name',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            }
            else {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your song has been saved',
                    showConfirmButton: false,
                    timer: 1000
                }).then(function () {
                    $('#frmRegister').off('submit').submit();
                });
            }
        });

    </script>
    {{/section}}

    <form id="frmRegister" method="POST" action="" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h4>New Song</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-group">
                        <label for="txtAvatar">Avatar</label>
                        <input type="file" class="form-control-file" id="txtAvatar" name="avatar">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Name</label>
                        <input type="text" class="form-control" id="txtSongName" name="songName">
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Link</label>
                        <input type="text" class="form-control" id="txtLink" name="link">
                    </div>
                    <div class="form-group">
                        <label for="txtCategoryId" class="my-1 ml-3">Category</label>
                        <select name='categoryId' id="txtCategoryId">
                            <option selected>Choose your option</option>
                            {{#each listCategories}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtArtistId" class="my-1 ml-3">Artist</label>
                        <select name='artistId' id="txtArtistId">
                            <option selected>Choose your option</option>
                            {{#each listArtists}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/admin/songs" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Back to List
                </a>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </form>