<div class="container my-5">
    <h3 class="text-warning">Administration Site</h3>

    <div class="card mt-3">
        <div class="card-header bg-info text-white">
            CATALOG
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush">
                <a href="/admin/users" class="list-group-item list-group-item-action">
                    <b>Users</b>
                </a>
                <a href="/admin/artists" class="list-group-item list-group-item-action">
                    <b>Artists</b>
                </a>
                <a href="/admin/categories" class="list-group-item list-group-item-action">
                    <b>Categories</b>
                </a>
            </div>
        </div>
    </div>
</div>